@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@300;400&display=swap');




/* MODIFICAÇÕES GERAIS */

*, *::after, *::before {
    box-sizing: border-box;
}

/* formatando imagens */
img, iframe {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/* zoom do site */
html {
    font-size: 20px; /* ou 1rem*/
}


/* determinando fonte */
h1 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family:Arial, Helvetica, sans-serif;
}



/* FIM DAS CONFIGURAÇÕES GERAIS */






/* MODIFICAÇÕES DO MENU */


/* tirando sublinhado do menu */
nav a {
    text-decoration: none;  
}

/* formatando menu */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; 
}

/* jogando pra direita o icone de menu no mobile */
nav, nav p {
    width: 65%;
    text-align: right; 
}

/* icone que abre o menu no mobile */
.icone {
    font-size: 1.2rem;
    padding: .5rem;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}
/*  configurações do texto do menu */
.menu a {
    color: black;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50px; /* DISTANCIA ENTRE OS ITENS */
    align-items: center; /* POSICAO DO TEXTO DENTRO DO A */
}

/* cor de fundo quando passa o mouse em cima */
.menu a:hover, .menu a:active {
    background-color: rgb(207, 203, 203);
    border-radius: 5px;
}

/* configuraçao do menu mobile do js */
.menu-aberto {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
}

/* deixa o texto maiusculo */
nav,h1 {
    text-transform: uppercase;
}

header .limitador {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.limitador {
    max-width: 1100px;
    width: 95vw;
    margin: auto;
}

.limitador h2 a {
    color: black;
}

/* MENU STICKY */
.menu {
    z-index: 20;
}

/* FIM DAS CONFIGURAÇÕES DO MENU*/

.querodoar {
    max-width: 10%;
    width: 200px;
}





/* HOME */
.conteudo-home h1{
    color: #3385d9;
}
/* FIM HOME */
















/* MENU RESPONSIVO */
@media screen and (min-width: 660px ) {
    .icone {display: none;
    }
    .menu {
        justify-content: space-between;
        display: flex;
        padding: 1rem;
    }
    .menu a{
        padding:  0 1rem;
    }
 
}

                /* HOME */

/* HOME PARA TELAS GRANDES*/
@media screen and (min-width: 901px ) {

.conteudo1-home {
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    margin-top: 80px;  
}

.conteudo1-home p{
margin-top: 30px;
line-height: 40px;
font-size: 20px;
}

.esquerda-home, .direita-home {
    width: 45%;
}




.conteudo2-home {
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    margin-top: 80px;  
}

.conteudo2-home p{
margin-top: 30px;
line-height: 40px;
font-size: 20px;
}

.esquerda2-home, .direita2-home {
    width: 45%;
}


.conteudo2-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    text-align:left;
    margin-top: 70px;
    margin-left: 90px; 
    margin-right: 50%; 
    margin-top: 50px;
    margin-bottom: 70px;
}

.conteudo2-home p {
    line-height: 35px;
}





}

/*  HOME PARA TELAS PEQUENAS */
@media screen and (max-width: 900px) {
.conteudo-home {
    text-align: center;
}

.conteudo-home { 
    margin: 20px;
}

.conteudo-home img{
    margin-bottom: 50px;
}
  
}

