@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@300;400&display=swap');




/* MODIFICAÇÕES GERAIS */

*, *::after, *::before {
    box-sizing: border-box;
}

/* formatando imagens */
img, iframe {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* zoom do site */
html {
    font-size: 20px; /* ou 1rem*/
    overflow-x: hidden;
    
    
}



/* determinando fonte */
h1 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family:Arial, Helvetica, sans-serif;
}

/* FIM DAS CONFIGURAÇÕES GERAIS */



/* MODIFICAÇÕES DO MENU */

/* tirando sublinhado do menu */
nav a {
    text-decoration: none;  
}

/* formatando menu */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; 
}

/* jogando pra direita o icone de menu no mobile */
nav, nav p {
    width: 65%;
    text-align: right; 
}

/* icone que abre o menu no mobile */
.icone {
    font-size: 1.2rem;
    padding: .5rem;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}
/*  configurações do texto do menu */
.menu a {
    color: black;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50px; /* DISTANCIA ENTRE OS ITENS */
    align-items: center; /* POSICAO DO TEXTO DENTRO DO A */
}

/* cor de fundo quando passa o mouse em cima */
.menu a:hover, .menu a:active {
    background-color: rgb(207, 203, 203);
    border-radius: 5px;
}

/* configuraçao do menu mobile do js */
.menu-aberto {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
}

/* deixa o texto maiusculo */
nav,h1 {
    text-transform: uppercase;
}

header .limitador {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.limitador {
    max-width: 1100px;
    width: 95vw;
    margin: auto;
}

.limitador h2 a {
    color: black;
}

/* MENU STICKY */
.menu {
    z-index: 20;
}

header {
    
   position: sticky;
    top: 0;
}



/* FIM DAS CONFIGURAÇÕES DO MENU*/










/* Página QUEM SOMOS */
.container-somos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.container-somos h1 {
    margin-top: 50px;
}


.coluna1, .coluna1-img {
    width:45%;
    
}



.coluna1-img img {
    border-radius: 10px;
}

.coluna1 h1 {
    text-align: center;
    color: #3385d9;
}


/*  */
.coluna1 h1{
    margin-left: 50px;

}

.coluna1  p{
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-right: 30px;
}

.coluna1-img {
    margin-top: 50px;
}

.coluna1 {
    margin-top: 30px;
}





/* Section container2 */
.container2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 80px;
}


.coluna2-img, .coluna2{
    width:45%;
}

.coluna2-img img {
    border-radius: 10px;
    margin-left: 60px;
    
}

.coluna2 h1 {
    text-align: center;
    color: #3385d9;
}

.coluna2  {
   margin-top: 30px;
}

.coluna2 p, h1 {
    text-align: center;
    margin-right: 80px;
 }

 .coluna2 p {
    margin-top: 40px;
    text-align: left;
 }


 
/* Section container3 */
.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 120px;
}


.coluna3 h1 {
    color:#1266f1;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
}



 .coluna3 p {
    text-align: center;
    padding-inline: 50px;
 }

 .coluna3-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
 }


/* cta */
.cta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15vh;

    
}

.cta1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

    
}

.cta-conteudo, .cta-conteudo1, .cta-conteudo2 {
    width: 33%;
    padding-top: 25px;
    
}

.cta-conteudo h2, .cta-conteudo1 h2, .cta-conteudo2 h2 {
    color: #3385d9;
}
/* FIM DA QUEM SOMOS */




/* Página quero doar 
.querodoar {
    max-width: 10%;
    width: 200px;
}

.container h2 {
    color: #3385d9;
}

.container button {
   margin-right: 250px;
}

*/
    

.container h2 {
color: #1266f1;
}



/* HOME */
.conteudo-home h1{
    color: #1266f1;
}
/* FIM HOME */













/* MENU RESPONSIVO */
@media screen and (min-width: 660px ) {
    .icone {display: none;
    }
    .menu {
        justify-content: space-between;
        display: flex;
        padding: 1rem;
    }
    .menu a{
        padding:  0 1rem;
    }
}


/* HOME */

/* HOME PARA TELAS GRANDES*/

@media screen and (min-width: 901px) {
/*1ª sessão home*/
.conteudo1-home {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px; 
    align-items: center;
    margin-left: 50px;
}

.conteudo1-home img {
    margin-top: 70px;
    border-radius: 10px;
    align-items: center;
}

.conteudo1-home h1, p{
    margin-top: 5px;
}

.conteudo1-home p{
margin-top: px;
line-height: 30px;
font-size: 22px;
}

.esquerda-home, .direita-home {
    width: 48%;
}

.esquerda-home p{
margin-top: 5px;
}

.esquerda-home h1 {
    font-size: 35px;
}


/* 2ª sessão home */
.direita2-home h1 {
   font-size: 35px;
}
.conteudo2-home {
    display: flex;
    justify-content: space-around;
    margin-bottom: 90px; 
}

.conteudo2-home img {
    margin-top: 90px;
    border-radius: 10px;
}

.conteudo2-home h1, p{
    margin-top: 35px;
}



.conteudo2-home p{
margin-top: 30px;
line-height: 35px;
font-size: 22px;
}

.direita2-home {
    margin-top: 65px;
}



.direita2-home p {
    margin-top: 5px;
   
}

.esquerda2-home, .direita2-home {
    width: 45%;
}



}

/*  HOME PARA TELAS PEQUENAS */
@media screen and (max-width: 900px) {

    
.conteudo-home {
    text-align: center;
}

.conteudo-home { 
    margin: 20px;
}

.conteudo-home img{
    margin-bottom: 50px;
    border-radius: 10px;
}

.esquerda-home h1{
    margin-top: 35px;
    margin-bottom: 19px;
    font-size: 35px;
}



.direita2-home h1{
   
    margin-top: 19px;
    margin-left: 100px;
    font-size: 30px;
}

.conteudo2-home {
   display: flex;
   flex-direction: column-reverse;
}

.esquerda-home h1 {
    
    margin-left: 100px;
}



}



/* FIM CSS HOME */




